/* .modal__close_form {
  filter: contrast(0.5);
} */

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 28px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin: 32px 0 36px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: black;
  opacity: 30%;
}

.modal__submit_type_login,
.modal__submit_type_register {
  width: 86px;
}

.modal__submit:hover {
  background-color: black;
  opacity: 100%;
}

.modal__title {
  margin-left: 28px;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 28px;
}

.modal__form-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.modal__switch {
  color: #888;
}

.modal__switch-button {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
}
