.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_opened {
  display: flex; /* Show the modal when active */
}

.modal__content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  max-width: 496px;
  width: 100%;

  box-sizing: border-box;
  position: relative;
  height: 436px;
}

.modal__close {
  background: url("../../assets/close.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__close_form {
  filter: contrast(0.5);
}

.modal__content_type_image {
  padding: 0; /* Remove extra padding for an image modal */
  height: auto;
}

.modal__image {
  width: 100%;
  border-radius: 16px; /* Round top corners */
}

.modal__caption {
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}

.modal__weather {
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: #666;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 28px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin: 32px 0 36px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: black;
  opacity: 30%;
}

.modal__submit:hover {
  background-color: black;
  opacity: 60%;
}

.modal__title {
  margin-left: 28px;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 28px;
}
