.card {
  width: 323px;
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  overflow: hidden;
  flex-direction: column;
  border-radius: 12px;
}

.card__name {
  top: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.2;
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__name-text {
  opacity: 60%;
}

.card__image {
  width: 100%;
  width: 328px;
  height: 328px;
  object-fit: cover;
}

.card__like-button {
  border: none;
  background: transparent;
  cursor: pointer;

  transition: color 0.3s;
}

.card__like-icon {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/like.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.card__like-button_liked .card__like-icon {
  background-image: url("../../assets/Liked.svg");
}

.card__header {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
